.photo-container {
  width: 100%;
  display: flex;
  align-items: center;
  background-color: transparent;
  margin-top: 100px;
  margin-bottom: 50px;
}

.apodBox {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: transparent;
  background-image: url('../../../images/galaxy.jpg');
}

.apodHomeImage {
  width: 400px;
  height: 400px;
  border-radius: 20px;
  position: relative;
  box-shadow: 1px 1px 3px 2px rgb(255, 255, 255);
  margin: 10px;
}

.apodHomeHeader {
  color: white;
  margin-top: 100px;
  font-size: 35px;
  text-align: center;
}

.apodParagraph {
  color: white;
  font-size: 22px;
  margin-right: 30px;
  margin-left: 30px;
  text-align: center;
  margin-bottom: 100px;
}

.controlHomeDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  background-color: transparent;
}

.apodHomeTitle {
  color: white;
  text-align: center;
  background-color: transparent;
  font-size: 30px;
  width: 350px;
}

.controlHomeDiv:hover + .subComponent {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  background-color: transparent;
}

.apodHomeImage:hover {
  opacity: 0.3;
}

.apodHomeDescription {
  color: white;
  background-color: transparent;
  font-size: 24px;
  margin-top: 40px;
  padding: 30px;
  text-align: center;
}

.swiper-pagination-bullet {
  background-color: orange;
}

.swiper-pagination-bullet-active {
  background-color: rgb(231, 73, 16);
}

.Swipercontainer {
  background-color: transparent;
}

.apodBoxBackground {
  background-color: rgb(0, 0, 0, 0.8);
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.apodHomeItem {
  margin-bottom: 40px;
}

.apodHomeItem,
.swiper-pagination,
.swiperSlideBackground {
  background-color: transparent;
}

@media (min-width: 600px) {
  .apodHomeHeader {
    font-size: 40px;
  }

  .apodParagraph {
    font-size: 25px;
  }
}
